{% extends 'base.html' %}

{% block title %}Update Task{% endblock %}

{% block content %}
    <h1>Update Task</h1>
    <div class="form-container" style="position: relative; padding-left: 40px;">  
        <a href="{% url 'home' %}" style="position: absolute; top: 0px; left: 10px; font-size: 24px; text-decoration: none;color: red;">&times;</a>
        
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <br>
            <button type="submit">Update Task</button>
        </form>
    </div>
{% endblock %}
